<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Personajes</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .catalogo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .personaje {
            margin: 20px;
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
            width: 200px;
            background-color: rgba(251, 247, 247, 0.388);
            backdrop-filter: blur(20px);
            border: 2px solid rgb(49, 49, 49);
            border-radius: 20px;
            padding: 20px;
            box-shadow: 2px 5px 15px black;
        }

        .personaje img {
            max-width: 100%;
            height: auto;
        }

        .personaje h2 {
            color: rgb(10, 10, 10);
            margin-top: 10px;
        }

        .personaje a {
            color: rgb(19, 19, 19);
            text-decoration: none;
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        .search-bar {
            margin: 20px 0;
            background-color: rgba(251, 247, 247, 0.388);
            backdrop-filter: blur(20px);
            border: 2px solid rgb(49, 49, 49);
            border-radius: 20px;
            padding: 20px;
            box-shadow: 2px 5px 15px black;
        }

        .search-bar label {
            font-size: 20px;
            display: block;
            text-align: center;
            margin-right: 30px;
        }

        .search-bar form {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: auto;
        }

        button {
            background-color: #f70a0a;
            color: rgb(247, 244, 244);
            font-size: 14px;
            padding: 8px 15px;
            border: none;
            border-radius: 10px;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
        }

        button:active {
            background-color: rgb(48, 47, 48);
        }

        .personaje h2 {
            color: rgb(10, 10, 10);
            margin-top: 10px;
            font-size: 18px;
        }

        .personaje .ver-mas-btn {
            background-color: rgb(19, 19, 19);
            color: rgb(247, 244, 244);
            font-size: 14px;
            padding: 8px 15px;
            border: none;
            border-radius: 10px;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
        }

        .personaje .ver-mas-btn:hover {
            background-color: rgb(48, 47, 48);
        }

        .imagen-carrito {
            margin-left: 20px;
            width: 50px;
        }

        .imagen-carrito {
            margin-left: 20px;
            width: 50px;
        }

        .boton-logout {
            width: 50px;
        }

        .Blog-out {
            background-color: none;
        }
    </style>
</head>

<body>

    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/inicio">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catálogo</a>
                    <a href="/personajes">Personajes</a>
                    <a href="/logout">Cerrar Sesión</a>
                    <a href="/carrito">Carrito</a>
                    <div class="boton-iniciar-sesion">
                        <a href="/index">INICIAR SESIÓN </a>
                    </div>
                </nav>
            </div>
            <h1>C A T Á L O G O</h1>
        </div> <!-- contenedor -->
    </header>

    <content>
        <div class="search-bar">
            <form action="/catalogo" method="get">
                <label for="charname">Buscar:</label>
                <input type="text" id="charname" name="charname" placeholder="Nombre del personaje...">
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="catalogo">
    {{#each catalogo}}
        <div class="personaje">
            <img src="{{thumbnail}}" alt="{{name}}" alt="{{precio}}">
            <h2>{{name}}</h2>
            <p>${{precio}}</p>
            <form action="/agregar-al-carrito" method="post">
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="thumbnail" value="{{thumbnail}}">
                <input type="hidden" name="precio" value="{{precio}}">
                <button type="submit">Agregar al Carrito</button>
            </form>
        </div>
    {{/each}}
</div>
    </content>
</body>

</html>
