<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/Formu.css">
</head>
<body>
    <h1 id="title-table">{{title}}</h1>
    
    <navbar>
        <div class="navlist">
            <div class="mylist">
                <ul class="list">
                    <li><a href="#" onclick="BUSQUEDA()">Seguir eligiendo</a></li>
                    <li><a href="#" onclick="INICIO()">Iniciar Sesión</a></li>
                    <li><a href="#" onclick="enviarDatosAlServidor()">Confirmar carrito</a></li>
                </ul>
            </div>
        </div>
    </navbar>

    <!-- Contenedor para mostrar el carrito -->
    <div id="carrito-container">
        {{#each list}}
            <div class="image-item">
                <p>{{name}}</p>
                <a>
                    <img src="{{thumbnail}}" alt="{{name}}" class="img-thumbnail">
                </a>
                <button>Eliminar del carrito</button>
            </div>
        {{/each}}
    </div>

    <script>
        // Llama a la función para obtener y mostrar el carrito al cargar la página
        window.onload = function() {
            mostrarCarrito();
        };
    </script>

    <script src="/js/Formu.js"></script>
</body>
</html>
