<link rel="stylesheet" href="/css/Formu.css">
<h1 id="title-table" class="coltxt">{{title}}</h1>
<navbar>
    <div class="navlist">
        <div class="mylist">
            <ul class="list">
                <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                <li><a href="#" onclick="REGISTRA()">Registrar Usuario</a></li>
            </ul>
        </div>
    </div>
</navbar>
<table id="tabla">
    <thead>
        <tr>
            <h1>
            <td><t>Nombre</t></td>
            <td>Correo</td>
            <td>Acciones</td>
            </h1>
        </tr>
    </thead>
    {{#each list}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>
<!--<form action="/eliminar/{{name}}" method="POST">
  <button type="submit" class="button">Eliminar</button>
</form>-->
                <a href="/eliminar?username={{name}}" class="button">Eliminar</a>
                <a href="/editar/{{name}}" class="button">Editar</a>
            </td>
        </tr>
    {{/each}}
</table>

<script src="/js/Formu.js"></script>


               